<!doctype html>
<html>
  <head>
    <title>adpc-hello demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <script src="../bower_components/webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../bower_components/iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../bower_components/iron-demo-helpers/demo-snippet.html">

    <link rel="import" href="../component.html">

    <style is="custom-style" include="demo-pages-shared-styles">
    </style>
  </head>
  <body>

    <div class="vertical-section-container centered">
      <h3>Basic <%= elementName %> Demo</h3>
      <demo-snippet>
        <template>
          <<%= elementName %>></<%= elementName %>>
        </template>
      </demo-snippet>
    </div>

  </body>
</html>
